[submodule "beautifulhugo"]
	path = beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
